---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";

---

<Layout>
  <section class="min-h-[80vh] ">
    <div class="lg:flex py-4 lg:py-8  justify-evenly items-center h-full min-h-[80vh]">
      <div class="flex justify-center mb-6">
        <div class="lg:my-0 my-12">
          <h1 class="lg:text-6xl  text-3xl uppercase  mb-2 dark:text-white">Título</h1>
          <p class="lg:text-3xl text-xl">Descripción de la página</p>
          <button class="mt-12 bg-[#b6902f] px-6 py-3 text-sm rounded-[2px]"> Comenzar  </button>
        </div>
      </div>
      <div class="relative w-fit mx-auto lg:m-0 ">
        <img src="/casa.jpg" alt="" class="rounded-t-full mx-auto w-[300px] h-[500px] lg:w-[400px] lg:h-[700px]  object-cover z-20">
        <div class="rounded-t-full mx-auto w-[300px] h-[500px] lg:w-[400px] lg:h-[700px] object-cover absolute -left-6 border-[#323525] -z-10 top-0  border"> </div>
      </div>
    </div>
  </section>
  <section class="rounded-r-[50px] lg:rounded-r-[150px] mt-6 min-h-screen bg-[#6f7959]">
    <div class="pt-12 overflow-hidden flex justify-center gap-8 lg:pt-32 pb-24">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
      <img src="/plano.jpg" alt="" class="lg:w-[350px] lg:h-[400px] object-cover w-[250px] h-[300px] rounded-t-full shadow-right  ">
    </div> 

    <div class=" bg-[#afb277] rounded-tr-[50px] lg:rounded-tr-[250px]  w-[95vw] lg:w-[80vw] py-3 ">
      <div class="flex flex-col gap-6 items-center   lg:flex-row lg:justify-between lg:p-20 my-10">
        <div class="lg:self-start">
          <h1 class="lg:text-6xl  text-3xl uppercase  mb-2 dark:text-white">Título</h1>
          <p class="lg:text-3xl text-xl">Descripción del proyecto</p>
        </div>
        <div class="relative z-0">
          <img src="/plano-arriba.jpg" alt="" class="rounded-tr-[250px] w-64 lg:w-[400px] h-[600px]  z-10">
          <div class="rounded-tr-[250px] mx-auto w-64 lg:w-[400px] h-[600px]  absolute -right-6 border-[#323525] -z-10 top-0  border"> </div>

        </div>
      </div>
    </div>

    <div class="py-10"></div>

    

  </section>

  <section class="min-h-screen flex justify-center  w-fit lg:w-screen max-w-5xl mx-auto px-4 items-center">
    <div class="flex flex-col gap-12 justify-center lg:flex-row lg:justify-between flex-1">
      <div class="flex flex-col justify-center">
        <p class="text-9xl"> FAQ </p>
        <p class="text-3xl"> Subtítulo </p>
      </div>
      <div>
       <p class="my-3 flex items-center gap-3"> Pregunta?    <Icon name={"lucide:mountain-snow"} class="overflow-hidden inline-flex w-6 h-6" />  </p>
       <p class="my-3 flex items-center gap-3"> otra pregunta?   <Icon name={"lucide:mountain-snow"} class="overflow-hidden inline-flex w-6 h-6" />  </p>
       <p class="my-3 flex items-center gap-3"> Una pregunta más?   <Icon name={"lucide:mountain-snow"} class="overflow-hidden inline-flex w-6 h-6" />  </p>
       <p class="my-3 flex items-center gap-3"> Pregunta final?   <Icon name={"lucide:mountain-snow"} class="overflow-hidden inline-flex w-6 h-6" />  </p>
      </div>
    </div>
  </section>
  
  <div class="flex justify-center px-6">
    <section id="contacto" class="bg-[#afb277] lg:rounded-t-[100px] rounded-t-[50px] w-[90%] lg:p-12 p-3 py-6">
      <div class="lg:flex gap-6 justify-between">
        <div>
          <p class="ml-3 lg:ml-0 text-3xl lg:text-5xl"> Contacto </p>
          <p class="ml-3 lg:ml-0 text-lg lg:text-2xl"> Descripción de la página </p>
        </div>
        <div class="flex flex-col gap-5 text-black mt-6 lg:mt-0">
          <input type="text" class="rounded-tl-full rounded-br-full py-1 px-5">
          <input type="text" class="rounded-tl-full rounded-br-full py-1 px-5">
          <input type="text" class="rounded-tl-full rounded-br-full py-1 px-5">
          
          <textarea name="" id="" cols="30" rows="10" class="rounded-tl-3xl rounded-br-3xl p-2">

          </textarea>
          <button class="px-3 py-2 bg-[#6f7959] text-white rounded-full">Enviar </button>
        </div>
      </div>
    </section>
  </div>

</Layout>


<style>

.shadow-right {
  -moz-box-shadow: 20px 20px  #606543;
  -webkit-box-shadow: 20px 20px  #606543;
  box-shadow: 20px 20px  #606543;
}
</style>